{% extends 'base.html' %}

{% block content %}
<h2>Quiz</h2>

<form method="POST">
    {% csrf_token %}

    {% for question in questions %}
        <div class="question-box">
            <p><strong>{{ question.question_text }}</strong></p>

            <label>
                <input type="radio" name="{{ question.id }}" value="A">
                {{ question.option_a }}
            </label><br>

            <label>
                <input type="radio" name="{{ question.id }}" value="B">
                {{ question.option_b }}
            </label><br>

            <label>
                <input type="radio" name="{{ question.id }}" value="C">
                {{ question.option_c }}
            </label><br>

            <label>
                <input type="radio" name="{{ question.id }}" value="D">
                {{ question.option_d }}
            </label>
        </div>
        <hr>
    {% endfor %}

    <button type="submit" class="btn">Submit</button>
</form>

{% endblock %}